body {
    width: 80%;
    margin: 50px auto;
}

#page-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%
}

#page-header .logo {
    height: 50px;
    display: flex;
}

#page-header .logo-chain {
    align-self: flex-end;
}

#page-header .delicious {
    margin-left: 5px;
}

#page-header .logo-chain .pint-icon {
    margin-right: 6px;
}

hr {
    background-image: url('./img/icons/hr-img.png');
    background-repeat: repeat;
    height: 13px;
    display: block;
    border: 10px;
}

.print {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.choc-pizza-img {
    width: 100%;
}

#paragraph p {
    text-indent: 30px;
}

#recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('./img/list-bg.png');
    padding: 2em 3em;
    border: 1px solid #eee;
    box-shadow: 0px 10px 10px -15px black;
}

#about {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.van {
    display: grid;
    justify-self: start;
}